In [1]:
import pandas as pd

In [4]:
acreagedf=pd.DataFrame({
    'County': ['San Diego', 'Riverside', 'Ventura', 'Santa Barbara', 'San Luis Obispo', 'Orange', 'San Bernadino', 'Monterey', 'Tulane', 'Los Angeles', 'Fresno'],
    'Producing Acres' : [14896, 4185, 17158, 5370, 3828, 935, 443, 210, 102, 30, 1],
    'New/Young Acres' : [1377, 571, 1599, 596, 90, 85, 8, 15, 2, 0, 0],
    'Topped/Stumped Acres' : [1433,  433, 815, 531, 96, 2, 5, 0, 1, 3, 0],
    'Planted Acres' : [17706, 5189, 19572, 6497, 4014, 1022, 456, 225, 105, 33, 1]
})
acreagedf

,County,Producing Acres,New/Young Acres,Topped/Stumped Acres,Planted Acres
0,San Diego,14896,1377,1433,17706
1,Riverside,4185,571,433,5189
2,Ventura,17158,1599,815,19572
3,Santa Barbara,5370,596,531,6497
4,San Luis Obispo,3828,90,96,4014
5,Orange,935,85,2,1022
6,San Bernadino,443,8,5,456
7,Monterey,210,15,0,225
8,Tulane,102,2,1,105
9,Los Angeles,30,0,3,33
10,Fresno,1,0,0,1

In [6]:
acreagedf.to_csv('acreage.csv')

In [7]:
acreagedf.to_html('acreage.html')